
* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto auto auto;
    height: 100vh;
}

header, main, footer {
    /*padding: 20px;/**/
    /*border: 1px solid #ccc;/**/
    font-family: "Helvetica", Arial, sans-serif;
}

header {
    grid-row: 1;
    background-color: #bdedf8;
    color: black;
    border-bottom: solid 1px black;
}

main {
    grid-row: 2;
    background-color: #fafafa;
    color: rgb(5, 5, 5);
}

footer {
    grid-row: 3;
    background-color: black;
    color: white;
}
h1,h2,h3{
    text-align: center;
}

#herotitle{
    color: white;
    font-weight: 200;
    letter-spacing: 5px;
    text-shadow: 0 0 50px  black;

}


    .product {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .polaroid {
        width: 60%;
        background-color: white;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.15);
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    
    }

    img {
        max-width: 100%;
        height: auto;
    }

    /* Hamburger-ikonet på høyre side */
    .menu-icon {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2em;
        z-index: 1;
        margin-top: 10px;
    }

    .meny {
        display: none;
        position: fixed;
        top: 60px;
        right: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        z-index: 1;
    }

    #hamburger-menu:checked + .meny {
        display: block;
    }
    #hamburger-menu{
        display: none;
    }

    /* menylisten*/
    .menu-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .menu-item {
        margin-bottom: 5px;
    }

    .menu-item a {
        text-decoration: none;
        color: black;
        padding: 5px 10px;
        display: block;
        text-align: center;
    }

    .menu-item a:hover {
        color: white;
        background: black;
    }
    /*Bilder*/
    .logo img{
        max-width: 20%;
        height: auto;
        margin-top: 10px;
        padding: 10px;
       
        }
    .hero{
        min-height: 300px;
        background-image: url("../media/herobilde.JPG"); 
        background-position: 0% 70%;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;  
        flex-direction: column; 

    }
    .heroto{
        background-image: url("../media/rd.nyttbilde.JPG");
        margin: 20px 0 20px 0;
    }

    .hero, .heroto{
        width: 100%;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .heroactions{
        padding: 10px;
        /*display: flex;
        justify-content: space-evenly;
        width: 50%;*/
        
    }
    button{
        cursor: pointer;
        padding: 6px 18px;
        text-transform: uppercase;
        margin: 0 5px;
        background-color: hsla(192, 73%, 15%, 0.85);
        border: 0;
        border-radius: 4px;
        color: #fafafa;
        font-size: 16px;
        letter-spacing: 2px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .12)
                    0 2px 4px rgba(0, 0, 0, .24);
    }

    /*Footer*/
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 6px;
    }
    .footer > * {
        width: 50%;
    }
    .footer .club {
        text-align: right;
        font-size: 12px;
    }
    .btn-link {
        background: none;
        font-size: 12px;
        padding: 0;
    }

/* Stiler for større skjermer */
@media screen and (min-width: 481px) {
    .menu-icon {
        display: none;
    }

    .meny {
        display: block;
    }
}

