* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header, main, footer {
    font-family: "Helvetica", Arial, sans-serif;
}

header {
    background-color: #bdedf8;
    color: black;
    border-bottom: solid 1px black;
    max-height: 75px;
    padding: 0;
}

main {
 
    background-color: #fafafa;
    color: black;
    /*padding: 12px;*/
}

footer {
  
    background-color: rgb(37, 37, 37);
    color: #fafafa;
    max-height: 100px;
}

h1,h2,h3{
    text-align: center;
}
h2{
    margin-bottom: 10px;
}

#bestseller{
    margin-top: 10px;
}

#herotitle{
    color: white;
    font-weight: 200;
    letter-spacing: 5px;
    text-shadow: 0 0 50px  black;

}


/*Cards med produker i*/
.card,.product {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .12);
    border: 1px solid hsl( 0, 0%, 94%);
    padding: 6px;
    margin: 20px auto;   
}

.card-content, .product-content *{
    margin: 0;
    padding: 0;
    
}

.card-content, .product-content > *{
    margin: 10px 0;
    
}
.card-content, .product-content{
    flex: 8;
    padding: 12px 24px;
}
.card-content h2, .product-content h2{
    font-size: 20px;
    
}

.card-content p{
    font-size: small;
}

.card-image, .product-image{
   background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    flex: 4;
    min-height: 250px;
    max-height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.product-image{
text-align: center;
}
.card-image img{
    width: 100%;
   
   
}

.card-description{
display: -webkit-box; 
-webkit-box-orient: vertical; 
-webkit-line-clamp: 5; 
overflow: hidden; 
text-overflow: ellipsis;
}

.card-actions{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;    
}
.card-color-picker{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 0;
   
    
}

.card-colorpicker-button{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-right: 6px;
    padding: 12px 0;
    
}
.red{
    background-color: rgb(111, 21, 21);
}
.black{
    background-color: black;
}

.green{
    background-color: rgb(107, 92, 67);
}
.card-quantity, .product-quantity{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
}

.card-quantity-input, .product-quantity-input{
width: 48px;
margin-left: 6px;
border: none;
border-bottom: 1px solid black;

}
.card-button{
    width: 48%;
    font-size: 16px;
    border: 2px solid hsla(192, 73%, 15%, 0.85);;
    padding: 6px;
    
}

.button-primary{
    display: block;
    text-decoration: none;
    background-color: hsla(192, 73%, 15%, 0.85);;
}
.button-secondary{
    background-color: hsla(192, 73%, 15%, 0.85);;
    color: hsla(192, 73%, 15%, 0.85);;
    text-decoration: none;
    display: block;
   
}
.link a{
    text-decoration: none;
    color: hsla(192, 73%, 15%, 0.85);;
    background-color: hsla(192, 73%, 15%, 0.85);;
}
a.card-button {
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: 49%;
    margin-right: 1%;
  }



/*Produkt kjøp*/


.product-image img{
    width: 80%;
    
}


.product-actions{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    
}
.product-color-picker{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 0;
   
    
}

.product-colorpicker-button{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-right: 6px;
    padding: 12px 0;
    
}
.product-quantity{
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    display: block;
    text-decoration: none;
}
.product-quantity-input{
width: 48px;
margin-left: 6px;
border: none;
border-bottom: 1px solid black;
}


.product-button{
    width: auto;
    font-size: 16px;
    border: 2px solid hsla(192, 73%, 15%, 0.85);
    padding: 6px;

}


.product-secondary{
    background-color: hsla(192, 73%, 15%, 0.85);
    color: white;
    text-decoration: none;
    display: block;
   
}

a.product-button {
    text-decoration: none;
    text-align: center;
    flex: content;
    width: 40%;
    background-color: hsla(192, 73%, 15%, 0.85);
    color: white;
    font-size: 16px;
    border: 2px solid black;
    padding: 8px;
    margin-right: 2%;
   
  }

     /*Knapper*/
     .button{
        cursor: pointer;
        padding: 6px 18px;
        text-transform: uppercase;
        margin: 0 5px;
        background-color: hsla(192, 73%, 15%, 0.85);
        border: 0;
        border-radius: 4px;
        color: #fafafa;
        font-size: 16px;
        letter-spacing: 2px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .12),
                    0 2px 4px rgba(0, 0, 0, .24);
        text-decoration: none;
    
                    
    }
    
    #jk{
        align-items: center;
        margin-top: 20%;
    }
    /* Hamburger-ikonet på høyre side */
    .menu-icon {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2em;
        z-index: 1;
        margin-top: auto;
        margin: auto 5px;
        
    }

    .meny {
        display: none;
        position: fixed;
        top: 60px;
        right: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        z-index: 1;
    }

    #hamburger-menu:checked + .meny {
        display: block;
    }
    #hamburger-menu{
        display: none;
    }

    /* menylisten*/
    .menu-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .menu-item {
        margin-bottom: 5px;
    }

    .menu-item a {
        text-decoration: none;
        color: black;
        padding: 5px 10px;
        display: block;
        text-align: center;
    }

    .menu-item a:hover {
        color: white;
        background: black;
    }

    /*Bilder*/
    .logo img{
        max-width: 20%;
        height: auto;
        margin: auto 5px;
        padding: 10px;
        margin-top: 7px;
       
        }

    #cart-icon{
       margin:  0 45px;  
    }
    .hero{
        min-height: 300px;
        background-image: url("../media/herobilde.JPG"); 
        background-position: 0% 80%;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;  
        flex-direction: column; 

    }
    .heroto{
        background-image: url("../media/rd.nyttbilde.JPG");
        margin: 20px 0 20px 0;
    }

    .hero, .heroto{
        width: 100%;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 0;
    }

    .heroactions{
        padding: 10px;
        /*display: flex;
        justify-content: space-evenly;
        width: 50%;*/
        
    }

   

    /*Kundeklubben*/
    .newsletter-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 93%;
        max-width: 500px;
        padding: 24px; 
        background-color: #bdedf8;
        color: #333333;
        border-radius: 8px;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
        margin: 13px;
        
      }
      .newsletter-title {
        font-size: 32px;
        text-transform: uppercase;
      }
      .newsletter-actions * {
        font-size: 15px;
      }
      .newsletter-actions {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 24px;
      }
      .email {
        height: 50px;
        padding:24px;
        flex: 2;
        border: none;
        border-right: 2px solid rgb(5, 5, 5);
        border-radius: 4px 0 0 4px;
        outline: none;
      }
      .submit {
        position: relative;
        flex: 1;
        height: 50px;
        padding: 0;
        overflow: hidden;
        border: none;
        border-radius: 0 4px 4px 0;
      }
      .submit-box-1,
      .submit-box-2 {
        position: absolute;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        transition: all 0.3s;

      }
      .submit-box-1 {
        top: 0;
        left: 0;
        background-color: hsla(192, 73%, 15%, 0.85);;
        color: #ffffff;;
      }
      .submit-box-2 {
        top: 100%;
        left: 0;
        background-color: #333333;;
        color: #fafafa;
      }
      .submit:active .submit-box-1 {
        top: -100%;
      }
      .submit:active .submit-box-2 {
        top: 0;
      }

    input,textarea{
        font: 1em;
        width: 300px;
        box-sizing: border-box;
        outline: none;
    
    }

    /*Kontakt oss skjema*/

    
    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    
        
    }
    
    /* Tilpass stilene for inputfeltene og textarea */
    input,textarea {
        font: 15em;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
        outline: none;
    }





/*Handlekurv skjema*/
.cart form{
    margin: 30px auto;
    width: 400px;
    background-color: lightgrey;
    padding: 1em;
    border: 1px solid #bcbbbb;
    border-radius: 1em;

}
.cart ul{
    list-style: none;
    padding: 0;
    margin: 0;
/*Tar vekk dottene*/
}

.cart li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.cart form li + li{
    margin-top: 1em;
    /*et hack for å legge på noe på alle ele i en liste. ALLE etter det ele her form li. denne gjør 
    noe med alle ele etter det. */

}

.cart label{
    display: inline-block;
    width: 70px;
    height: fit-content;
    text-align: right;
    
}

.cart label::after{
    content: ": ";
    
}

.cart input,textarea{
    font: 4em;
    width: 200px;
    height: 25px;
    box-sizing: border-box;
    background-color: lightgray;
    border: 1px solid black;
    outline: none;
    margin-left: 5px;
}



.cart textarea{
    vertical-align: top;
    height: 5em;
    resize: vertical;
}


/*Handlevogn kortet*/
.cart-page {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 12px;
}
#handlevogn{
    margin-top: 15px;
    text-align: left;
}
.cart-card {
    display: flex;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
    margin: 0;
    margin-bottom: 50px;
    margin-top: 15px;
    /* background-color: white; */
    color: black;
    text-align: left;
    /* border-bottom: 1px solid hsl(0, 0%, 92%); */
  }
  
  
    .cart-card-img {
        /* flex: 1; */
        display: flex;
        align-items: center;
        justify-content: center;
      }

     .cart-card-img img{
        min-width: 100px;
        width: 50%;
        max-width: 150px;
     } 
      

  
  .cart-card-container {
    padding: 2px 16px;
    margin-bottom: 20px;
    /* flex: 1; */
  }
  
  .cart-card-container h2 {
    margin-top: 10px;

  }
  
  .cart-card-container h2, p {
    margin-bottom: 10px;
  }


  .payment{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .payment .cart-form-list-item {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-form-list-item label {
    /* background: red; */
    margin-top: 4px;
}
.cart-form-list-item input {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.payment-alternatives{
    padding-bottom: 20px;
    list-style: none;
}
.payment-alt-item {
    display: flex;
    justify-content: flex-start;
}
.payment-alt-item input {
    width: fit-content;
    margin-right: 6px;
    margin-top: 2px;
}

  .cart-button{
    display: block;
    width: 700px;


  }
  
  .summary{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .summary th, .summary td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
  }
  
  .summary th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .summary tr:nth-child(odd) {
    background-color: #e0e0e0;
  }

  .receit-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    color: black;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 20px 10px;
}
  
    /*Footer*/
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 6px;
        
        
    }
    
    .footer > * {
        width: 50%;
    }
    
    
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
   

/* Stiler for større skjermer */
@media screen and (min-width: 481px) {

   /* .meny {
        display: block;
    }*/
    
    .card{
        flex-direction: row;
    }
    .card-image{
        min-height: 0;
    }
}

@media screen and (min-width: 900px){
    .menu-icon,
    #cart-icon,
    #hamburger-menu {
        display: none;
    }
   
    .meny-desktop{
        padding: 0;
        background-color: transparent;
        border: 0;
        padding-right: 20px;
        position: initial;
        display: block;

    }
    .meny-desktop ul{
    display: flex;
    list-style: none;
    }
    .meny-desktop li a{
        padding: 10px;
        text-decoration: none;
        color: #000;
        border-bottom: 2px solid transparent;
        transition-duration: 0.2s;
       
    }
    .meny-desktop li a:hover{
        background-color: transparent;
        color: black;
        border-bottom:2px solid black;
    }
    .heroto{
        background-position: center 100%;
        height: 350px;
        
    }
    .newsletter-wrapper{
        margin: 0 auto 20px auto;
    
    }
    .card-image a{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product{
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: none;
        background-color: white;
        border: 0;
        box-shadow: none;
        padding: 15px;
        margin: 0;
        width: 100%;
    }
    .product-image{
    text-align: center;
    min-height: none;
    max-height: none;
    overflow: visible;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
     }

     .product-content{
        padding: 24px 48px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     } 

     .product-image a{
        width: fit-content;
        height: fit-content;
     }
     h1{
        font-size: 36px;
        text-align: left;
        margin-bottom: 60px !important;
     }
     p{
        max-width: 650px;
     }

/*.card-content, .product-content *{
    margin: 0;
    padding: 0;
    
}

.card-content, .product-content > *{
    margin: 10px 0;
    
}
.card-content, .product-content{
    flex: 8;
    padding: 12px 24px;
}
.card-content h2, .product-content h2{
    font-size: 20px;
    
}*/
    
    
/*media 900px*/